/PlotClasses
/thesis_plots
/PlotClasses_noThreads/SingularValues.py
make_plots_for_thesis.py
prepare_maryam_data.py
hansi_data_prep.py

**/__pycache__

# DATAFILES:
# still need to include the simulation data as used in thesis!
# should do once benchmarking chapter is finished.
DataFiles/*
!/DataFiles/maryam2.txt
!/DataFiles/gridded_hansi_data.txt

# ignored_folder/**
# !ignored_folder/**/


# SIMULATION DIRECTORY:
# still need to include the simulation data as used in thesis!
# should do once benchmarking chapter is finished.
/SimulateData
!/SimulateData/sim_MultiExcitation.py
!/SimulateData/__init__.py
!/SimulateData/MakeMoreSimulationPlots.py
